__pycache__/
*.py[cod]
hepdataset.egg-info/
build/
.pytest_cache/
dist/
HEPDataset/
HepDataset/
HepDatasetSplitFlavour/
*.pid
wz_3L_SmallSample/
src/cpp/hepdataset-loops
src/loops/_cpp_loop_bridge*.so
