include README.md
include LICENSE
include pyproject.toml

recursive-include src *.py *.yml

global-exclude *.pyc
global-exclude *.so
global-exclude *.dll
global-exclude *.dylib
global-exclude __pycache__
global-exclude *.egg-info
global-exclude .pytest_cache
global-exclude .mypy_cache
