include README.md
include LICENSE
include pyproject.toml
include setup.py

recursive-include src *.py *.yml
recursive-include src/cpp *.cpp Makefile

global-exclude *.pyc
global-exclude *.so
global-exclude *.dll
global-exclude *.dylib
global-exclude __pycache__
global-exclude *.egg-info
global-exclude .pytest_cache
global-exclude .mypy_cache
